* {
  box-sizing: border-box;
}
.tabla {
  width: 550px;
  page-break-before: always;
  position: relative;
}
.tabla h1 {
  text-align: center;
}
.tabla .tarjeta {
  width: 25%;
  display: inline-block;
}
.tabla .tarjeta img {
  padding: 2px;
  width: auto;
  height: 218px;
}

.jugar {
  outline: none;
  padding: 0 2rem;
}
.jugar header {
  position: relative;
}
.jugar header img {
  height: 200px;
  display: block;
  float: right;
}
.jugar .tarjeta {
  width: 220px;
  height: auto;
  margin: 0 auto;
}
.jugar .tarjeta img {
  width: 100%;
  height: auto;
}
.jugar .tarjetasAnteriores img {
  width: 50px;
  height: auto;
}
.jugar .acciones {
  position: fixed;
  top: 200px;
  left: 100px;
}
.jugar .acciones ul {
  list-style: none;
}
.jugar .acciones li {
  display: block;
}
.jugar .acciones li a {
  background: #090274;
  color: #fff;
  padding: 1rem 2rem;
  width: 150px;
  display: inline-block;
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: none;
}
.jugar .acciones li a:hover {
  background-color: #06a8ed;
  color: #000;
}